[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "*"
Flask = "~=2.0.2"
Flask-SQLAlchemy = "*"
Flask-Script = "*"
Flask-Migrate = "==3.1.0"
psycopg2-binary = "*"
Flask-Session = "*"
alembic = "~=1.7.5"
Flask-API = "*"
SQLAlchemy = "~=1.4.29"

[dev-packages]

[requires]
python_version = "3.8"
